<div class="sidebar">

  <div class="sidebar-logo">
    <img src="gls_logo.png" alt="GLS Logo">
    <div class="sidebar-title">Fees Manager</div>
  </div>

  <div class="nav-links">

    <div
      class="nav-item"
      routerLink="/dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      Dashboard
    </div>

    <div class="nav-item" routerLink="/admin" routerLinkActive="active">
      🔐 Admin Panel
    </div>  

    <div
      class="nav-item"
      routerLink="/import-students"
      routerLinkActive="active">
      📥 Import Students
    </div>

    <div
      class="nav-item"
      routerLink="/add-student"
      routerLinkActive="active">
      Add Student
    </div>

    <div
      class="nav-item"
      routerLink="/analytics"
      routerLinkActive="active">
      Analytics
    </div>

  </div>

</div>
